.card-container{
    background:linear-gradient( to left,rgb(60,196,148)0%,rgb(113,142,140)100%);;
    border: 1px solid #fff;
    opacity: 0.7;
    border-radius: 10px;
    margin:20px;
    text-align: center;
     height:350px;
     width:270px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
.card-container:hover{
    transform: scale(1.1);
}